.loader {
  width: 150px;
  height: 150px;
  border: 12px solid var(--perpule);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotate 1.2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header div {
  font-size: 24px;
  color: var(--perpule);
  display: flex;
  align-items: center;
}
header span {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  color: var(--perpule);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 10px;
}
.container {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 700px;
}
.question-box {
  display: flex;
  flex-direction: column;
}
.question-text {
  background-color: var(--perpule);
  color: var(--light-perpule);
  border-radius: 20px;
  padding: 20px;
  margin: 60px 0 30px;
}
.answer-text {
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  text-align: left;
  transition: all 0.2s;
  border: 4px solid #fff;
  background-color: #fff;
}
.answer-text:hover {
  background-color: var(--light-perpule);
  border: 4px solid #fff;
}
.finish-btn,
.next-btn {
  width: 80px;
  height: 30px;
  border: 2px solid var(--perpule);
  color: var(--perpule);
  border-radius: 5px;
  background-color: var(--light-perpule);
  transition: all 0.2s;
  margin: 0 5px;
}
.next-btn {
  width: 132px;
}
.finish-btn:hover,
.next-btn:hover {
  background-color: var(--perpule);
  color: var(--light-perpule);
}

.correct {
  background-color: #c7facb;
}
.incorrect {
  background-color: #fac7c7;
}
.correct:hover {
  background-color: #c7facb;
}
.incorrect:hover {
  background-color: #fac7c7;
}
p {
  display: none;
}
