<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/404page_Style.css" />
    <link rel="shortcut icon" href="../img/favIcon.png" type="image/x-icon" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>درگاه پرداخت اینترنتی سِپ - پرداخت الکترونیک سامان</title>
  </head>
  <body>
    <main class="container">
      <h1>پایان زمان مجاز حضور در صفحه</h1>
      <a href="../home.html">برگشت به صفحه پرداخت</a>
    </main>
  </body>
</html>
