<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/setting.css" />
    <link rel="stylesheet" href="../css/endGame.css" />
    <title>END GAME</title>
  </head>
  <body>
    <h1>Your Score = <span class="score-number">0</span></h1>
    <input type="text" placeholder="Enter UserName" id="text-box" />
    <button id="save-btn">Save Score</button>
    <a href="./game.html">Play Againe</a>
    <a href="../home.html">Back To Home</a>
    <script src="../js/endGame.js"></script>
  </body>
</html>
