<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/setting.css" />
    <link rel="stylesheet" href="../css/game.css" />
    <title>Game Page</title>
  </head>
  <body>
    <span class="loader" id="loader"></span>
    <p class="eror-text">Eror Read DATA - Please Refresh Page</p>
    <div class="container">
      <header>
        <div>
          <h3>Question No :</h3>
          <span id="question-number">1</span>
        </div>
        <div>
          <h3>Score :</h3>
          <span id="score">0</span>
        </div>
      </header>
      <div class="question-box">
        <h3 class="question-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id,
          inventore?
        </h3>
        <button class="answer-text">1</button>
        <button class="answer-text">2</button>
        <button class="answer-text">3</button>
        <button class="answer-text">4</button>
      </div>
      <div>
        <button class="finish-btn">Finish</button>
        <button class="next-btn">Next Question</button>
      </div>
    </div>
    <script src="../js/game.js" type="module"></script>
    <script src="../js/helper.js" type="module"></script>
  </body>
</html>
