$primaryBlue: #2b73e3;
$secoundBlue: #528de8;
$lightBlue: #eef4fd;
$primaryGreen: #00c291;
$lightGreen: #E1F1F0;
$primaryGray: #919aaf;
$lightGray: #f2f3f7;
$primaryBlack: #2d3a4a;
$white: #ffff;
$bgColor: #f7f7fc;
$inputBgColor: #f9fafc;
$red: #F63A53;
$Yellow:#D98F00;
$lightYellow:#FBF7ED;
